*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: 700;
}

p{
    text-align: center;
    margin-top: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #b2a6a6;
    word-spacing: 4px;
}

.testimonial {
  border: none;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 6px;
}

.userlogo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.twitterlogo {
  width: 20px;
  height: 20px;
}

.testimonialtext {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
   text-align: justify;
}